@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #e6cc9d;
  background-image: linear-gradient(
    to bottom,
    #101455e3 0%,
    #1c5391ea 10%,
    #1852beaf 20%,
    #99d6d6f3 35%,
    #add5e4d0 40%,
    #76acbdee 55%,
    #4d92ad 70%,
    #062531 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: rgb(10, 50, 83);
}

h1 {
  font-size: 4.5rem;
  font-weight: 300;
  padding-top: 80px;
}

h2 {
  font-size: 3.7rem;
  transform: perspective(120px) rotateX(40deg) scaleY(3);
  color: transparent;
  text-shadow: 0 -15px 12px #154c6680;
  margin-top: -120px;
}
