@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e6cc9d;
  background-image: linear-gradient(
    to bottom,
    #101455e3 0%,
    #1c5391d3 10%,
    #2f5d79cc 20%,
    #1852bec9 25%,
    #21999391 30%,
    #7eddddd2 35%,
    #add5e4d0 40%,
    #76acbdee 55%,
    #4d92ad 70%,
    #062531 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: rgba(13, 28, 61, 0.932);
}

h1 {
  font-size: 2.5rem;
  padding-top: 30px;
  text-shadow: 0 5px 15px rgb(6, 11, 14);
}
