@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url(img/lachlan-donald-YVT5aF2QM7M-unsplash.jpg) no-repeat center
    center/cover;
  position: absolute;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(30px);
}

.loading-text {
  font-size: 40px;
  color: #fff;
}
